# Flutter
build/
.dart_tool/
.pub/
.packages
.pub-preload-cache
*/.dart_tool
*/.packages
*.iml
*.lock
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Android
*.apk
*.apk.sha1
*.aab
local.properties
*.jks
*.keystore
key.properties
android/.gradle/
android/app/google-services.json

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Runner/GeneratedPluginRegistrant.*

# Rust
app/rust/**/target/
app/rust/target/

# Misc
*.env
.env.local
.env.production
